@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade {
  animation: fade 0.25s ease-out;
}
